<% if question.checkbox? %>
  <p class="title is-5"><%= question.content%></p>

  <%= form_tag '/user_answers/create', method: :post, remote: true, class: 'render-form' do %>
    <% question.answers.each do |possible_answer, options| %>
      <div>
        <%= hidden_field_tag "user[answers][]", false, class: "hidf" %>
        <%= check_box_tag "user[answers][]", true, false, class: "checkbox" %>
        <%= possible_answer %>
        <%= hidden_field_tag "answer_keys[]", possible_answer %>
      </div>
    <% end %>
    <%= hidden_field_tag(:course_id, @course.id) %>
    <%= hidden_field_tag(:question_id, question.id) %>
    <%= hidden_field_tag(:page_id, @page.id) %>
    <%= submit_question_tag(question) %>
  <% end %>

  <div class="hidf-box" style="display: none">
    <%= hidden_field_tag "user[answers][]", false, class: "hidf" %>
  </div>
<% end %>
