<% if question.radio? %>
  <p><%= question.content%></p>

  <%= form_tag '/user_answers/create', method: :post, remote: true, class: 'render-form' do %>
    <div class="radio-cont">
      <%= hidden_field_tag(:question_id, question.id) %>
      <% question.answers.each do |possible_answer, options|%>
        <div>
          <%= hidden_field_tag "user[answers][]", false, class: "hid-field" %>
          <%= radio_button_tag "user[answers][]", true, false, class: "rd" %>
          <%= possible_answer %>
          <%= hidden_field_tag "answer_keys[]", possible_answer %>
        </div>
      <% end %>
    </div>
    <%= hidden_field_tag(:course_id, @course.id) %>
    <%= hidden_field_tag(:page_id, @page.id) %>
    <%= submit_question_tag(question) %>
  <% end %>

  <div id="box3" style="display: none">
     <%= hidden_field_tag "user[answers][]", false, class: "hid-field" %>
  </div>
<% end %>

