<% if question.textbox? %>
  <p class="question-content"><%= question.content%></p>
  <div class="answer-field">
    <div id ="q-text-form" class="add-from">

      <%= form_tag '/user_answers/create', method: :post, remote: true,  class: 'render-form' do %>
        <% if question.answered?(current_user) %>
          <%= submit_tag 'Question answered!',  class: 'button is-small is-info is-dis' %>
        <% else %>
          <p> <%= text_field_tag :answer, nil, required: true %></p>
          <%= hidden_field_tag(:course_id, @course.id) %>
          <%= hidden_field_tag(:page_id, @page.id) %>
          <%= hidden_field_tag(:question_id, question.id) %>
          <%= submit_tag 'Answer on question', class: 'button is-small is-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
