<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
      <h1 class="title is-2">You results for <%= @course.title %> course</h1>

      <div class="subtitle is-4">
        Answered correctly on <%= @user_course.answered_correctly %> questions
      </div>

      <div class="subtitle is-4">
        Course passed on <%= @user_course.result %>
      </div>

      <p class="question-content">
        You certificate
        <%= user_certificate(@user_course)%>
      </p>
      <hr/>
      <%= course_raiting_form(@course) %>
    </div>
  </div>
</div>
<%= render "result_table", course_questions: @course_questions %>
