<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile" id="mailbox">
  <p class="menu-label is-hidden-touch">Emailbox</p>
  <ul class="menu-list">
      <span class="icon"></span><%= mailbox_section 'inbox', @box %>
      <span class="icon"></span><%= mailbox_section 'sent', @box %>
      <span class="icon"></span><%= mailbox_section 'trash', @box %>
  </ul>
  <%= link_to 'Start conversation', new_message_path, class: 'button is-info is-rounded' %>
</aside>
<div class="mg"></div>

<div class="wrapper">
  <%= render partial: 'conversations/conversation', collection: @conversations %>
</div>

<% if @box == 'trash' %>
  <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'button is-danger', method: :delete, data: {confirm: 'Are you sure?'} %></p>
<% end %>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= will_paginate renderer: BulmaPagination::Rails %>
    </div>
    </br>
    <%= link_to 'Back', user_dashboard_path, { class: "button  is-small is-black"} %>
  </div>
</div>
