<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <h1 class="title is-4 is-centered" >Conversation</h1>
        <h1 class="title is-6">subject: <%= @conversation.subject %></h1>
        <% get_conversation_messages(@conversation).each do |receipt| %>
          <div class="item-m">
            <% message = receipt.message %>
            <p><strong><%= message.sender.name %></strong></p>
              <%= message.body %>
              <span class="is-pulled-right"><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7 is-message">
            <%= form_tag reply_conversation_path(@conversation), method: :post do %>
              <div class="field">
                <div class="control">
                <%= label_tag 'message[body]', 'Message', class: "label" %>
                 <%= text_area_tag 'body', nil, class: 'textarea', required: true, placeholder: "Type something..." %>
                </div>
              </div>
            <%= submit_tag 'Send', class: 'button is-link' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
