<div class="columns is-centered">
  <div class="column is-2">
    <h1 class="title is-2"><%= @page.title %></h1>
    <h3 class="subtitle is-4">Content:</h3>
    <%= @page.content %></br>
    <h3 class="subtitle is-4"> Questions</h3>
    <% @page.questions.each do |question| %> 
      <%= render 'questions/textbox_question', question: question %>
      <%= render 'questions/checkbox_question', question: question %>
      <%= render 'questions/radio_question', question: question %>
    <% end %>
    
    <% @pages.each do |page| %>
      <% if page.id != @page.id %>
        <%= link_to page.title, course_page_path(@course, page), class: "pagination-link"%>
      <% end %>
    <% end %>
    
     </br>
    <%= link_to 'Edit', edit_course_page_path(@course, @page) , { class: "button is-link is-small"} %> 
    <%= link_to 'Back', course_path(@course),{ class: "button  is-small is-black"}  %>
  </div>
</div>
