<div class="columns is-centered">
  <div class="column is-2">
    <h1 class="title is-2"><%= @page.title %></h1>
    <h3 class="subtitle is-4">Content:</h3>
    <%= @page.content %></br>
    <h3 class="subtitle is-4"> Questions</h3>
    <% @page.questions.each do |question| %> 
      <%= render 'questions/textbox_question', question: question %>
      <%= render 'questions/checkbox_question', question: question %>
      <%= render 'questions/radio_question', question: question %>
    <% end %>
    </br>
      <%= form_tag user_pages_path, method: :post, class: 'render-form' do %>
        <%= hidden_field_tag(:page_id, @page.id) %>
        <%= hidden_field_tag(:user_id, current_user.id) %>
        <%= hidden_field_tag(:course_id, @course.id) %>
        <% if @page == @last_page %>
          <%= submit_tag 'Submit last page', class: 'button is-medium is-info is-rounded' %>
        <% else %>
          <%= submit_tag 'Next page', class: 'button is-medium is-info is-rounded' %>
        <% end %> 
      <% end %>
     </br>
    <%= link_to 'Edit', edit_course_page_path(@course, @page) , { class: "button is-link is-small"} %>
    <%= link_to 'Back', course_path(@course),{ class: "button  is-small is-black"}  %>
  </div>
</div>
