<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
      <h1 class="title is-2">User Dashboard</h1>
    </div>
  </div>

  <div class="columns">
    <%= render "user/dashboard/current_courses"%>
    <%= render "user/dashboard/org_courses"%>
    <%= render "user/dashboard/not_org_courses" %>
  </div>

  <div class="columns">
    <%= render "user/dashboard/favorites_courses"%>
    <%= render "user/dashboard/last_completed_courses"%>
    <%= render "user/dashboard/recomendations"%>
  </div>

  </br>
  <%= link_to 'Back', root_path, { class: "button  is-small is-black"} %>
</div>
