<h1 class="title is-course-index">Avaliable courses</h1>

<%= search_form(courses_path) %>

<div class="hero is-courses">

  <div class="columns is-multiline is-centered">
    <% @courses.each do |course| %>
      <div class="column is-one-fifth">
      <%= link_to course_path(course)  do %>
          <figure class="image is-5">
            <%= course_image(course) %>
          </figure>
          <h1 class="title is-4"><%= course.title %></h1>
          <div style="min-height: 100px;"><%= course.description[0...120]... %></div>
          <div class="review-rating" data-score="<%= course.avg_rate %>"></div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<%= paginate(@courses)%>
