<div class="headline-center l-courses">Courses</div>
<% @courses.each do |course| %>
    <div class="courses-index">
      <%= link_to course_path(course) do %>
        <figure class="image mainp">
          <%= course_image(course) %>
        </figure>
        <p>
          <h1 class="title is-4 center main-c-t"><%= course.title %></h1>
        </p>
        <p>
          <div class="desc-course main-c-desc"><%= course.description[0...120]... %></div>
        </p>
        <div style="padding-left: 15px" class="review-rating" data-score="<%= course.avg_rate %>"></div>
      <% end %>
    </div>
<% end %>
