<div class="columns is-centered">

  <div class="bookmark"><span class="is-pulled-left">
    <%= render "bookmarks/bookmark_form", course: @course %>
  </div>

  <div class="column is-9">

    <h1 class="title is-2 center">
      <%= @course.title %>
    </h1>

    <div class="review-rating" data-score="<%= @course.avg_rate %>"></div>

    <div>
      <span class="tag is-primary is-medium">
        Access <%= @course.access_state %>
      </span>

      <% if user_signed_in? && policy(@course).edit? %>

        <div class="dropdown is-pulled-right">
          <div class="dropdown-trigger">
            <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Actions</span>
              <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>

            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <%= link_to 'Edit', edit_course_path(@course), { class: "dropdown-item"} %>

                <%= link_to "Add page to course", new_course_page_path(@course), class: "dropdown-item" if @course.draft? %>
              <div>
                <%= render "states", course: @course %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= created_at(@course) %>

    <h2 class="title is-4">Description:</h2>
    <p><%= @course.description %></p>

    <hr/>

    <% if @course.requirements.blank? %>
      <h2 class="title is-4">Requirements:</h2>
      <p><%= @course.requirements %></p>
      <hr/>
    <% end %>

    <%= main_course_image(@course)%>
    </br>
    <%= certificate_template(@course) %>
    </br>
    <%= course_action_buttons(@course)  %>
    <hr/>
    <%= render 'course_pages', pages: @pages if @course.draft? && user_signed_in? %>
  </div>
</div>
