<div class="columns is-centered">
  <div class="bookmark"> <span class="is-pulled-left">
    <%= render "bookmarks/bookmark_form", course: @course %>
  </div>

  <div class="column is-6">
    <h1 class="title is-2 center"><%= @course.title %></h1>

    <% if @course.access_state? %>
      <h1 class="title is-5"><span class="tag is-primary is-medium">Access
        <%= @course.access_state %></span>
        <p class="control is-pulled-right" >
          <%= link_to "Add page to course", new_course_page_path(@course), class: "button is-success is-rounded" if @course.draft? %>
        </p>
        <span class="is-pulled-right">
          <%= render "states", course: @course %>
        </span>
      </h1>
    <% end %>

    <div class="review-rating" data-score="<%= @course_raiting %>"></div>
    <h1 class="title is-3">Description:</h1>
    <%= @course.description %>
    <h1 class="title is-3">Requirements:</h1>
    <%= @course.requirements %>

    <div class="feature-image is-centered" style="text-align: center;">
      <%= image_tag(@course.image_url(:default)) if @course.image_url %>
    </div>
    <hr/>

    <% if @course.attachment_pdf_file_name %>
      <%= link_to @course.attachment_pdf.url do %>
        <span class=""><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
      <% end %>
    <% end %>

    <h1 class="subtitle is-5 is-pulled-right">Created by: <%= @course.user.name %> <%= time_ago_in_words(@course.created_at) %> ago</h1></br>
    </br>
    <%= render 'follow_form' %>
    <%= render 'action_buttons'%>
    <%= render 'course_raitings/course_raiting_form' %>
    </br>
    <%= link_to 'Edit', edit_course_path(@course), { class: "button is-link is-small"} %>
    <%= link_to 'Back', courses_path,{ class: "button is-small is-black"}  %>
  </div>
</div>
