<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <h1 class="title is-2">Current Courses</h1>
  </div>
</div>
<div class="columns">
  <div class="column">
    <%= search_form(user_dashboard_current_courses_path) %>

    <table id="current-tb" class="table is-bordered is-hoverable is-striped">
      <thead>
        <tr class="is-selected">
          <th><%= sortable "title" %></th>
          <th><%= link_to "Percent of passing"%></th>
          <th><%= sortable "created_at", "Created"%></th>
          <th><%= sortable "access_state", "Access Status"%></th>
        </tr>
      </thead>
       <tbody>
        <% @current_courses.each do |course| %>
          <tr>
            <th><%= link_to course.title, course_path(course) %></th>
            <th><%= course.percent_of_progess(current_user) %></th>
            <th><%= course.created_at.strftime("%B %e, %Y") %>
            <th><%= course.access_state %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate(@current_courses)%>

<%= link_to 'Back', user_dashboard_path, { class: "button  is-small is-black"} %>
