<div class="tabs is-toggle is-fullwidth is-large">
  <ul>
    <li>
      <%= link_to user_dashboard_my_courses_path, title: "edit course" do %>
        <span class="icon"><i class="fa fa-graduation-cap " aria-hidden="true"></i></span></i></span>
        <span>My Courses</span>
      <% end %>
    </li>
    <li>
      <%= link_to user_dashboard_my_certificates_path, title: "edit course" do %>
        <span class="icon"><i class="fa fa-certificate" aria-hidden="true"></i></span></i></span>
        <span>My certificates</span>
      <% end %>
    </li>
  </ul>
</div>

  <div class="columns is-multiline is-centered">
    <%= render "user_dashboard/dashboard/current_courses"%>
    <%= render "user_dashboard/dashboard/org_courses"%>
    <%= render "user_dashboard/dashboard/courses" %>
    <%= render "user_dashboard/dashboard/favorites_courses"%>
    <%= render "user_dashboard/dashboard/last_completed_courses"%>
    <%= render "user_dashboard/dashboard/recomendations"%>
  </div>
</div>

