<div class="navbar-end">
  <div class="navbar-item">
    <div class="field is-grouped">

      <p class="control">
        <%= link_to "Create Organization", new_organization_path, class: "button is-success is-rounded" unless current_user.organization %>
      </p>

      <p class="control">
        <%= link_to "Create Course", new_course_path, class: "button is-link is-rounded" %>
      </p>

      <p class="control">
        <%= link_to "Manage Oraganization", manager_dashboard_path, class: "button is-danger is-rounded" if current_user.org_admin? %>
      </p>

      <p class="control">
        <%= link_to "Admin Dashboard", admin_dashboard_path, class: "button is-danger is-rounded" if current_user.admin? %>
      </p>

      <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Profile</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <p class="dropdown-item">
              signed in as <strong><%= current_user.name %></strong>
            </p>
            <hr class="dropdown-divider">
            <%= link_to "Change profile", edit_user_registration_path, class: "dropdown-item" %>

            <%= link_to "Messages", conversations_path, class: "dropdown-item"%>

            <hr class="dropdown-divider">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
