<div class="navbar-end">
  <div class="navbar-item">
    <div class="field is-grouped">

      <% if user_signed_in? %>
        <p class="control">
          <%= link_to "Create Organization", new_organization_path, class: "button is-success is-rounded" unless current_user.organization %>
        </p>

        <p class="control">
          <%= link_to "Create Course", new_course_path, class: "button is-link is-rounded" %>
        </p>

        <p class="control">
          <%= link_to "Manage Oraganization", manager_dashboard_path, class: "button is-danger is-rounded" if current_user.org_admin? %>
        </p>

        <p class="control">
          <%= link_to "Admin Dashboard", admin_dashboard_path, class: "button is-danger is-rounded" if current_user.admin? %>
        </p>

        <%= render "layouts/profile/actions"%>
      </div>
    <% end %>

  </div>
</div>
