<!DOCTYPE html>
<html>
  <head>
    <title>ELearningSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/notice"%>

    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5" id="logo-name">eLearningSystem</h1>
        <% end %>
      </div>
      <div id="navbarExample" class="navbar-menu">
        <%= navbar %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
